@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">

        <br />
        <br />
        <br />
        <br />
        <br />
        <center>
            <h1> BIENVENIDO....</h1>
        </center>


            <body style="background-image:url(https://www.elsetge.cat/myimg/f/15-153902_mountain-fondos-de-pantalla-para-pc-4k.jpg);
       background-repeat: no-repeat;
       background-size: auto">
            </body>

</div>